@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #1f1d2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  /* Стили для компонента Header */

  .underline-gradient {
    position: relative;
    display: inline-block;
  }

  .underline-gradient::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1.5px;
    background: none;
    transition: all 0.3s ease-in-out;
  }

  .underline-gradient:hover::after {
    background: #9b51e0;
  }

  .text-color {
    background: none;
    -webkit-background-clip: text;
    transition: all 0.3s ease-in-out;
    color: #9ca3af;
  }

  .text-color:hover {
    color: transparent;
    background: linear-gradient(to right, #9b51e0, #3081ed);
    background-clip: text;
  }

  /* Стили для компонента Main */

  .border-gradient {
    position: relative;
    border-radius: 20px;
    border: 0.88px solid transparent;
    background: linear-gradient(
      168.82deg,
      #fb37ff 1.7%,
      rgba(155, 111, 238, 0) 27.12%,
      rgba(123, 127, 234, 0) 61.28%,
      #1bb2de 99.52%
    );
  }

  .border-gradient::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    filter: blur(1px);
    border-radius: inherit;
    background: inherit;
    background-clip: border-box;
    z-index: -1;
  }

  .border-gradient > div {
    position: relative;
    padding: 25px;
    border-radius: 20px;
    background: #1f1d2b;
    z-index: 1;
  }

  .image-container {
    width: 448px;
    height: 402px;
    border-radius: 20px;
    z-index: 2;
  }

  .image-container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: inherit;
    background: #3081ed;
    opacity: 0.05;
    z-index: -1;
  }

  .highlight-circle {
    width: 123px;
    height: 123px;
    border-radius: 50%;
    filter: blur(55px);
    pointer-events: none;
    z-index: -1;
    opacity: 0.7;
  }

  .highlight-circle-pink {
    background: radial-gradient(circle, rgba(169, 42, 162, 0.5), #f62cf680);
  }

  .highlight-circle-blue {
    background: radial-gradient(
      circle,
      rgba(62, 131, 234, 0.5),
      rgba(48, 129, 237, 0.5)
    );
  }

  /* Стили для компонента Main */

  .circle-gradient-border {
    position: relative;
    border: 1px solid transparent;
    border-radius: 50%;
    background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
    background-clip: padding-box;
    z-index: 1;
  }

  .circle-gradient-border::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    margin: 0;
    border-radius: 50%;
    border-radius: inherit;
    background: #1f1d2b;
    background-clip: border-box;
    z-index: -1;
  }
}
